<h1>All Posts</h1>
<ul>
    <% @posts.each do |post| %>
        <li><%= post.description %> by <%= post.user.email %></li> 
    <% end %>
</ul>

<%= link_to "Home", root_path %>
<%= link_to "Create more posts", new_post_path %>

